name: Lint

on: [ push, pull_request ]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install pre-commit
        run: |
          python3 -m pip install --user pipx
          python3 -m pipx ensurepath
          python3 -m pipx install pre-commit
      - name: Add path for Python packages
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Run linters
        run: |
          pre-commit run --all-files
