name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2.1.4
        with:
          python-version: 3.9
      - name: Run linters
        run: |
          python3 -m pip install --user pre-commit
          pre-commit run --all-files
